h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 260102027-2]
        p.mb-0 Aplicar medidas de control de la operación de contact center según indicadores de productividad en  campañas inbound.
           




