.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        
        p
            strong.mr-2 Contact center:
            | centro de contacto encargado de recibir y emitir solicitudes utilizando diferentes medios como el telefónico, chat, redes sociales, página web. 
        hr
        p 
            strong.mr-2 Eficiencia:
            | capacidad de obtener resultados con el menor uso de los recursos
        hr
        p 
            strong.mr-2 Grafica:
            | las	    gráficas,	según	Pazos,	Castrobaro y Bertolini	(2004), “permiten presentar datos de manera clara y	 didáctica. Las	   gráficas	se utilizan	como	medio	de visualizar y analizar información” (p. 10).(Lerma y Murillo,2015,p.11)
        hr
        p 
            strong.mr-2 Indicador:
            | “es una escala numérica que sirve para medir o cuantificar el resultado respecto al cumplimiento de un objetivo o propósito específico.” (Villagra,2016, p.27)
        hr
        p 
            strong.mr-2 Microsoft Excel:
            | “es un sistema para la creación de hojas de cálculos cuyas posibilidades de trabajo, cálculo y presentación son amplias. La posibilidad de utilizar fórmulas y funciones es mayor que en las versiones anteriores de dicho programa. Así como permite la creación de gráficos que se modificarán automáticamente al cambiar los datos en su hoja de cálculo” (Arango y Ricaurte,2006,p.104) 
        hr               
        p 
            strong.mr-2 Monitoreo:
            | mecanismo para evaluar las llamadas en los contact center. 
        hr
        p 
            strong.mr-2 Nivel de atención:
            | tiempo medio de operación, es decir es el tiempo promedio de duración de una llamada. 
        hr
        p 
            strong.mr-2 Nivel de servicio:
            | porcentaje de llamadas contestadas antes de los “X” segundos.  
        hr              
        p
            strong.mr-2 Rango:
            | conjunto de celdas en Excel. (Arango y Ricaurte, 2006,p.105)
        hr              
        p
            strong.mr-2 Supervisor:
            | persona encarga del control y supervisión de los agentes en los centros de contacto. 
        hr              
        p
            strong.mr-2 Tipificación:
            | resumen o detalle de la llamada.
